
/*****BG COLORS****/
.sb-youtube{
	background-color:$yt;
}
.sb-facebook{
	background-color:$facebook;
}
.sb-twitter{
	background-color:$twitter;
}
.sb-linkedin{

}
.sb-vimeo{

}

.border-color-fb{
	border-color:$facebook;
}

.border-color-yt{

}








