//right

.sb-radius-normal-top-nav{
	border-radius:none;
}
.sb-radius-square-top-nav{
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.sb-radius-round-top-nav{
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%;
}

.sb-radius-right-up-top-nav{
	border-bottom-left-radius:50px;
	border-bottom-right-radius:20px;
}

.sb-radius-right-down-top-nav{
	border-bottom-left-radius:20px;
	border-bottom-right-radius:50px;
}

.sb-position-top-click{
	position:fixed;
}

.sb-position-top-hover{
	position:fixed;
	&:hover{
		top:0 !important;
	}
}

.sb-nav-top{
	position:absolute;
	margin:0;
	//right:0px;
	bottom:0px;
	z-index: -1;
	//width:100%;
	ul{
		text-align: center;
		li{
			display: inline-block;
			margin-left:-4px;
			&:first-of-type{
				margin-left: 0;
			}
		}
	}
}

.sb-hover-top-nav:hover{
	margin-bottom:-5px;
}